<!--<div class="panel panel-default">-->
<!--  <div class="panel-heading">-->
<!--    <h3 class="panel-title"> <%#= message.message_sender.email %></h3>-->
<!--  </div>-->
<!--  <div class="panel-body">-->
<!--    <%#= time_ago_in_words(message.created_at) %> ago<br>-->
<!--    <%#= message.content %> <br>-->
<!--    <%#= link_to message.document_file_name,message.document.url if message.document.exists? %>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="each-message">-->
  <div class="row">
    
    <div class="col-md-12">
      
      <h3 class="left-text"> <%= message.message_sender.name %></h3>
      <div class="avatar">
        <img src="/avatar_generic.jpg" class="avatar-icon">
      </div>
      <div class="left-text">
      <p class="text"><%= message.content %></p>
      <%= link_to message.document_file_name,message.document.url if message.document.exists? %>
      <small class="text-muted"><%= time_ago_in_words(message.created_at) %> ago</small>
      </div>
    </div>
    </div>
<!--</div>-->