
<h1>Hi <%= @user.name %></h1>
<p>
  Assignment!
</p>
<p>
    You have been assigned a new order at <a href="design360.graphics"><strong>Design360</strong></a>.
    Please follow <a href="design360.graphics/employees/sign_in">the link</a> to login and start working.
    <br>
    
</p>