
<h1>Hi <%= @user.name %></h1>
<p>
  Congratulations!
</p>
<p>
    You have been added to <strong>Design360</strong> as a Client Manager.
    Please visit our site to login and start working.
    <br>
    Your login creadentilas are as follows:
    <br>
    <strong>Email:</strong> <%= @user.email %>
    <br>
    <strong>Password:</strong> <%= @password %>
    <br>
    <br>
    <h3>Glad to have you on the team.</h3>
</p>