
<h1>Hi <%= @user.name %></h1>
<p>
  Congratulations!
</p>
<p>
    You have been added to <a href="design360.graphics"><strong>Design360</strong></a> as a Client Manager.
    Please follow <a href="design360.graphics/employees/sign_in">the link</a> to login and start working.
    <br>
    Your login creadentilas are as follows:
    <br>
    <strong>Email:</strong> <%= @user.email %>
    <br>
    <strong>Password:</strong> <%= @password %>
    <br>
    <br>
    <h3>Glad to have you on the team.</h3>
</p>