<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?5UEn6e6GUFue1VXgSTLO3RNGCaEGTWuU";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?5UEn6e6GUFue1VXgSTLO3RNGCaEGTWuU";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
<script type="text/javascript" src="/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/jquery.counterup.min.js"></script>
<script type="text/javascript" src="/landing-page.js"></script>
<div class="landing-page">    
    <div class="tagline hidden-xs"> 
      <div class="container"> 
        <div class="pull-left"> 
          <div class="phone">
            <i class="fas fa-phone-volume"></i> +1 123 456 78 90
          </div>
          <div class="email">
            <a href="mailto:support@design360.graphics">
              <i class="far fa-envelope"></i> Support@design360.graphics
            </a>
          </div>
        </div>
        <div class="pull-right"> 
          <ul class="top_socials"> 
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/"><i class="fab fa-google-plus"></i></a></li>
            <li><a href="https://www.dribble.com/"><i class="fab fa-dribbble"></i></a></li>
            <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a></li>
          </ul> 
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <!-- Header -->
    <nav class="navbar navbar-default navbar-custom sticky">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Design360</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/">Home</a></li>
                <% if user_signed_in? or employee_signed_in? %>
                    <% if current_user %>
                    <li><a href="/clients/dashboard">Dashboard</a></li>
                    <li><a>Signed in as <strong><%= current_user.name %></strong>(<%= current_user.email %>)</a>
                    </li>
                    <li><a href="/users/edit">Edit Profile</a></li>
                    <li><a href="/users/sign_out" data-method="delete">Log Out</a></li>
                  <% end %>
                  <% if current_employee %>
                    <% if current_employee.admin? %>
                      <li><a href="/admin/dashboard">Dashboard</a></li>
                    <% else %>
                      <li><a href="/managers/dashboard">Dashboard</a></li>
                    <% end %>
                    <li><a>Signed in as <strong><%= current_employee.email %></strong></a>
                    </li>
                    <li><a href="/employees/edit">Edit Profile</a></li>
                    <li><a href="/employees/sign_out" data-method="delete">Log Out</a></li>
                  <% end %>
                <% else %>
                    <li><a style="cursor:default;">Login As:</a></li>
                    <li><a href="/employees/sign_in">Employee</a></li>
                    <li><a href="/users/sign_in">Client</a></li>
                <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <!-- /Header -->

    <!-- Home -->
    <section id="home">
      <div class="home-bg"></div><!-- Bg-image -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="intro-title">We are  <span href="" class="typewrite" data-period="2000" data-type='[ "THE #1 GRAPHIC DESIGN AGENCY", "DESIGN 360"]'>
            <span class="wrap"></span></span></h1>
            <p class="intro-text">Unlimited Designs. Unlimited Revisions. One Low Flat-Fee.</p>
            <div class="btn-bar">
              <a href="#" class="btn btn-custom">GET STARTED</a>
              <a href="#contact" class="btn btn-custom-outline">PLANS & PRICING</a>
            </div>
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </section>
    <!-- /Home -->

    <!-- About -->
    <section id="about-us">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">FUEL YOUR BRAND</h3>
                    <p class="slog">With the top rated graphic design agency for growing business.</p>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="row features-box">
                <div class="col-sm-4 text-right">
                    <div class="margin-b-md">
                        <i class="far fa-sticky-note"></i>
                        <h4>UNLIMITED REQUESTS</h4>
                        <p>Create as many projects as you need, we will work through them one at a time.</p>
                    </div>
                    <!-- / margin -->
                </div>
                <!-- /col -->
                <div class="col-sm-4 features-line">
                    <div class="margin-b-md">
                        <i class="far fa-gem"></i>
                        <h4>24 HOUR TURNAROUND</h4>
                        <p>Enjoy our insanely fast turnaround times. Your finished design will be delivered back to you within one business day.</p>
                    </div>
                    <!-- / margin -->
                </div>
                <!-- /col -->
                <div class="col-sm-4 text-left">
                    <div class="margin-b-md">
                        <i class="far fa-lightbulb"></i>
                        <h4>7 DAY FREE TRIAL</h4>
                        <p>Try us out free for 7 days to make sure we are the perfect fit. We only bill you after your free trial ends.</p>
                    </div>
                    <!-- / margin -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="row advanced-about">
                <div class="col-sm-6 text-left">
                    <h4><b>We Are Creative Experts </b></h4>
                    <hr/>
                    <p>From explainer videos to Facebook ads, logos to business cards. We do it all. Design360 has helped countless brands develop a professional image and eye-catching marketing materials. We pride ourselves on making visually compelling designs that move your customers to action. We’re so confident you’ll fall in love with our work that we are offering a 7 day free trial. After singing up, login to your dashboard, get comfortable with our easy-to-use dashboard, and start receiving your designs. We will see you on the inside!</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-angle-right"></i>Our average turnaround time is under 24 hours.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>All rights & source files included, you own everything we create.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>Each of our designers has 10+ years of experience in graphic design.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>Rest easy with our 24/7 support team
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>Pay the same low monthly price (no matter how many projects you create). .
                        </li>
                    </ul>
                    <a href="#" class="btn btn-custom margin-t-md">Plans & Pricing</a>
                </div>
                <!-- /col -->

                <div class="col-sm-6 text-center">
                    <img src="about-1.png" alt="about" class="img-responsive">
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- About -->

   

    <!-- Portfolio -->
    <section id="works" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">How It Works</h3>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="row">
                <div class="col-sm-4 port-item margin-b-md">
                    <div class="item-img-wrap">
                        <img src="work-1.jpg" class="img-responsive" alt="workimg">

                    </div>
                    <div class="work-desc">
                        <h3><a href="#">Login to Your Dashboard</a></h3>
                        <span>Sign in to your easy-to-use client dashboard. This is where you will create new projects and can do things such as edit your profile or manage billing.</span>
                    </div>
                </div>
                <!-- /portfolio-item -->

              
                <div class="col-sm-4 port-item margin-b-md">
                    <div class="item-img-wrap">
                        <img src="work-3.jpg" class="img-responsive" alt="workimg">

                    </div>
                    <div class="work-desc">
                        <h3><a href="#">Create A Task</a></h3>
                        <span>You can create a project directly from your dashboard. Select the design type, answer a few questions about the project, and submit your request.</span>
                    </div>
                </div>
                <!-- /portfolio-item -->

                 <div class="col-sm-4 port-item margin-b-md">
                    <div class="item-img-wrap">
                        <img src="work-4.jpg" class="img-responsive" alt="workimg">

                    </div>
                    <div class="work-desc">
                        <h3><a href="#">Sit Back and Relax</a></h3>
                        <span>We begin working on your design as soon as it gets requested! Expect to receive your finished design in your dashboard within one business day. You can then mark the project as complete, or if you need to, request a revision!</span>
                    </div>
                </div>
                <!-- /portfolio-item -->
            </div>
            <!-- /row -->

        </div>
        <!-- /container -->
    </section>
    <!-- / Portfolio -->

    <!--  Intro-section -->
    <section class="parallax" id="inner-section">
        <div class="container">
            <div class="row">
                <article class="col-md-12 text-center">
                    <div class="intermediate-container">
                        <div class="subheading">
                            <h4>Our designs are meant to inspire action and convert customers into buyers. We approach every project with a marketer’s mindset, focusing on what works best in your industry. Are you ready to ignite your brand?</h4>
                        </div>
                        <div class="heading">
                            <h2>START YOUR FREE TRIAL!</h2>
                        </div>
                        <div class="">
                            <a class="btn btn-custom" href="#"><span>Plans & Pricing</span></a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- / Intro-section -->

    <!-- Team -->
  <!-- tempraroy close this section 
  <section class="team" id="team"> 
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="title">Creative Team</h3>
                    <p class="slog">Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty</p>
                </div>
                <!-- /col -->
          <!--  </div>
            <!-- /row -->

           <!-- <div class="row text-center">
                <div class="col-sm-3">
                    <img src="team-1.jpg" alt="team-member" class="img-responsive">
                    <h4>John Smith</h4>
                    <h5>Founder</h5>
                    <p>Hey, I’m Johm Smith residing in this beautiful world. I create websites and mobile...</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- team-member -->

               <!-- <div class="col-sm-3">
                    <img src="team-2.jpg" alt="team-member" class="img-responsive">
                    <h4>Cristina Deo</h4>
                    <h5>Web Designer</h5>
                    <p>Hey, I’m Cristina Deo residing in this beautiful world. I create websites and mobile...</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- team-member -->

              <!--  <div class="col-sm-3">
                    <img src="team-3.jpg" alt="team-member" class="img-responsive">
                    <h4>Jonathan Deo</h4>
                    <h5>Manager</h5>
                    <p>Hey, I’m Jonathan Deo residing in this beautiful world. I create websites and mobile...</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- team-member -->

               <!-- <div class="col-sm-3">
                    <img src="team-4.jpg" alt="team-member" class="img-responsive">
                    <h4>Anton Kovalsky</h4>
                    <h5>Graphic Designer</h5>
                    <p>Hey, I’m Anton Kovalsky residing in this beautiful world. I create websites and mobile...</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- team-member -->
           <!-- </div>
            <!-- end row -->

          <!-- <div class="row margin-t-md">
                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-custom">We are Hiring</a>
                </div>
                <!-- /col -->
          <!--  </div>
            <!-- /row -->
       <!-- </div> 
        <!-- container -->
  <!-- </section>  -->
    <!-- /Team -->


    <!-- Skills -->
    <section class="bg-dark">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-3">
                    <div class="progress" data-dimension="160" data-text="77%" data-width="6" data-fontsize="28" data-percent="86" data-fgcolor="#666" data-bgcolor="#eee"></div>
                    <h4><i class="fas fa-umbrella"></i>Creativity</h4>
                </div>
                <!-- skill -->

                <div class="col-sm-3">
                    <div class="skill">
                        <div class="progress" class="skill-chart" data-dimension="160" data-text="86%" data-width="6" data-fontsize="28" data-percent="86" data-fgcolor="#666" data-bgcolor="#eee"></div>
                        <h4><i class="fas fa-cloud-download-alt"></i>Wordpress</h4>
                    </div>
                </div>
                <!-- skill -->

                <div class="col-sm-3">
                    <div class="skill">
                        <div class="progress" class="skill-chart" data-dimension="160" data-text="93%" data-width="6" data-fontsize="28" data-percent="93" data-fgcolor="#666" data-bgcolor="#eee"></div>
                        <h4><i class="fas fa-desktop"></i> Design</h4>
                    </div>
                </div>
                <!-- skill -->

                <div class="col-sm-3">
                    <div class="skill">
                        <div class="progress" class="skill-chart" data-dimension="160" data-text="81%" data-width="6" data-fontsize="28" data-percent="81" data-fgcolor="#666" data-bgcolor="#eee"></div>
                        <h4><i class="far fa-lightbulb"></i> Coding</h4>
                    </div>
                </div>
                <!-- skill -->

            </div>
            <!-- end row -->
        </div>
        <!-- container -->
    </section>
    <!-- / Skills -->


    <!-- Services -->
    <section class="services" id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="title">All Your Design Needs, We Take Care of Everything!</h3>
                    <p class="slog">Let the experts handle your creative needs so that you can focus on the other moving parts of your business.</p>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="far fa-gem"></i>
                        <div class="service-detail">
                            <h4>Logos</h4>
                            <p>Make the perfect first impression with professional and custom logo design.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-tablet-alt"></i>
                        <div class="service-detail">
                            <h4>Social Media Design</h4>
                            <p>Establishing your social media presence is crucial. Expand your reach with our custom social media design.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-search"></i>
                        <div class="service-detail">
                            <h4>Web Ads</h4>
                            <p>Attract more eyeballs and increase CTR with our high-performing web & banner ad designs.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-rocket"></i>
                        <div class="service-detail">
                            <h4>Brochures</h4>
                            <p>Use a brochure to capture the attention of potential and existing customers.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-chart-line"></i>
                        <div class="service-detail">
                            <h4>Business Cards & Stationery</h4>
                            <p>Create the perfect first impression. Custom business cards & stationery are essential to making your brand memorable.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-headphones"></i>
                        <div class="service-detail">
                            <h4>Posters & Flyers</h4>
                            <p>Be bold when promoting your business. Our poster & flyer design will get your brand the attention it deserves.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="service-detail">
                            <h4>Explainer Videos</h4>
                            <p>Clearly define your message or advertise your rand in a unique way with our 2D/3D animated videos.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="far fa-dot-circle"></i>
                        <div class="service-detail">
                            <h4>Infographics</h4>
                            <p>Communicate data in an easy-to-understand way with our visually compelling infographics.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-bars"></i>
                        <div class="service-detail">
                            <h4>Packaging & Labels</h4>
                            <p>Get noticed before your competitors. Create a lasting impression and showcase your brand with our packaging & label design.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-rocket"></i>
                        <div class="service-detail">
                            <h4>Cartoons & Illustrations</h4>
                            <p>Our designers are not only experts in digital design, we can draw with our hands too!</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-chart-line"></i>
                        <div class="service-detail">
                            <h4>3D Modeling</h4>
                            <p>The experience of a 3D image can be more compelling and satisfying to a prospect than 2D. Make your brand pop with our 3D design.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-headphones"></i>
                        <div class="service-detail">
                            <h4>T-shirts</h4>
                            <p>Whether it’s a new apparel design for your Shopify store or a professional tee for your business, we will create it in our design lab.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="service-detail">
                            <h4>Email & Presentation Design</h4>
                            <p>Every detail matters. Our email template design and presentation design will make sure your business maintains a professional image.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="far fa-dot-circle"></i>
                        <div class="service-detail">
                            <h4>Vector Tracing</h4>
                            <p>Need better artwork? We will convert your design into a stunning & symmetrical vector file, for a higher quality logo or artwork.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <i class="fas fa-bars"></i>
                        <div class="service-detail">
                            <h4>And Much More…</h4>
                            <p>We are experienced in all types of graphic design. Give us a description of what you need and watch your idea come to life!</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->

        </div>
        <!-- container -->
    </section>
    <!-- /Services -->


    <!-- Testimonials -->
    <section class="testi-slide parallax" id="testimonials">
        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <img src="1.png" alt="Partner 1" class="img-responsive">
                </div>

                <div class="col-sm-3">
                    <img src="2.png" alt="Partner 1" class="img-responsive">
                </div>

                <div class="col-sm-3">
                    <img src="3.png" alt="Partner 1" class="img-responsive">
                </div>

                <div class="col-sm-3">
                    <img src="4.png" alt="Partner 1" class="img-responsive">
                </div>
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- / Testimonials -->

    <!-- CONTACT -->
    <!--<section id="contact" class="">-->
    <!--    <div class="container">-->
    <!--        <div class="row text-center info-contact">-->
    <!--            <div class="col-sm-4 margin-b-md">-->
    <!--                <i class="far fa-envelope"></i>-->
    <!--                <h4>Get in touch</h4>-->
    <!--                <ul class="list-unstyled">-->
    <!--                    <li><a href="mailto:support@design360.graphics">E: support@design360.graphics</a>-->
    <!--                    </li>-->
    <!--                    <li><a href="tel:0123456789">P: 0123 456 789</a>-->
    <!--                    </li>-->
    <!--                    <li><a href="#">W: www.Cubana.com</a>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>-->
                <!-- end Get in touch -->

    <!--            <div class="col-sm-4 margin-b-md">-->
    <!--                <i class="fas fa-map-marker-alt"></i>-->
    <!--                <h4>Our Location</h4>-->
    <!--                <address>Cubana<br> 123 street <br>Saint Peter, MN 12345<br> 059 – 12345678</address>-->
    <!--            </div>-->
                <!-- end Our Location -->

    <!--            <div class="col-sm-4 margin-b-md">-->
    <!--                <i class="far fa-life-ring"></i>-->
    <!--                <h4>Free Support</h4> Call Now-->
    <!--                <a class="support" href="tel:0123456789">12345 67890</a>-->
    <!--            </div>-->
                <!-- end Support -->
    <!--        </div>-->
            <!-- /row -->

            <!--<div class="row">-->
            <!--    <div class="col-md-12">-->
            <!--        <form role="form" name="ajax-form" id="ajax-form" action="" method="post" class="form-main">-->
            <!--            <div class="col-xs-12">-->
            <!--                <div class="row">-->
            <!--                    <div class="form-group col-sm-4">-->
            <!--                        <label for="name2">Name</label>-->
            <!--                        <input class="form-control" id="name2" name="name" onblur="if(this.value == '') this.value='Name'" onfocus="if(this.value == 'Name') this.value=''" type="text" value="Name">-->
            <!--                        <div class="error" id="err-name" style="display: none;">Please enter name</div>-->
            <!--                    </div>-->
                                <!-- /Form-name -->

            <!--                    <div class="form-group col-sm-4">-->
            <!--                        <label for="email2">Email</label>-->
            <!--                        <input class="form-control" id="email2" name="email" type="text" onfocus="if(this.value == 'E-mail') this.value='';" onblur="if(this.value == '') this.value='E-mail';" value="E-mail">-->
            <!--                        <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div>-->
            <!--                    </div>-->
                                <!-- /Form-email -->

            <!--                    <div class="form-group col-sm-4">-->
            <!--                        <label for="subject1">Subject</label>-->
            <!--                        <input class="form-control" id="subject1" name="name" onblur="if(this.value == '') this.value='Subject'" onfocus="if(this.value == 'Subject') this.value=''" type="text" value="Subject">-->
            <!--                    </div>-->
                                <!-- /Form-Subject -->
            <!--                </div>-->
                            <!-- /row -->

            <!--                <div class="row">-->
            <!--                    <div class="form-group col-xs-12">-->
            <!--                        <label for="message2">Message</label>-->
            <!--                        <textarea class="form-control" id="message2" name="message" onblur="if(this.value == '') this.value='Message'" onfocus="if(this.value == 'Message') this.value=''">Message</textarea>-->
            <!--                        <div class="error" id="err-message" style="display: none;">Please enter message</div>-->
            <!--                    </div>-->
                                <!-- /col -->
            <!--                </div>-->
                            <!-- /row -->

            <!--                <div class="row">-->
            <!--                    <div class="col-md-8 col-md-offset-2">-->
            <!--                        <p class="text-center con_sub_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren.</p>-->
            <!--                    </div>-->
                                <!-- /col -->
            <!--                </div>-->
                            <!-- /row -->

            <!--                <div class="row">-->
            <!--                    <div class="col-xs-12 text-center">-->
            <!--                        <div id="ajaxsuccess">E-mail was successfully sent.</div>-->
            <!--                        <div class="error" id="err-form" style="display: none;">There was a problem validating the form please check!</div>-->
            <!--                        <div class="error" id="err-timedout">The connection to the server timed out!</div>-->
            <!--                        <div class="error" id="err-state"></div>-->
            <!--                        <button type="submit" class="btn btn-custom" id="send">Submit</button>-->
            <!--                    </div>-->
                                <!-- /col -->
            <!--                </div>-->
                            <!-- /row -->

            <!--            </div>-->
                        <!-- /row -->
            <!--        </form>-->
                    <!-- /form -->
            <!--    </div>-->
                <!-- end col-md-12 -->
            <!--</div>-->
            <!-- end row -->
    <!--    </div>-->
        <!-- container -->
    <!--</section>-->
        <!-- Testimonials -->
    <div class="container margin-t-md">
        <div class="row text-center">
            <div class="col-md-12">
                    <h3 class="title">Testimonials</h3>
                </div>
                <!-- /col -->
            </div>
		<div class="row">
			
			<div class="jag-tst-theme-2 jag-tst-theme-blue jag-equalheight">
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-color-bg"></div>
						<div class="jag-tst-avatar">
							<img src="images/member8.jpg" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">John Doe</div>
							<div class="jag-designation"> - Manager </div>
							
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								LoreLorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								LoreLorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-avatar">
							<img src="images/member10.jpg" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">John Doe</div>
							<div class="jag-designation"> - Manager </div>
						
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-avatar">
							<img src="images/member2.jpg" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">John Doe</div>
							<div class="jag-designation"> - Manager </div>
							
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			
			<div class="jag-tst-theme-2 jag-tst-theme-blue jag-equalheight">
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-color-bg"></div>
						<div class="jag-tst-avatar">
							<img src="images/member8.jpg" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">John Doe</div>
							<div class="jag-designation"> - Manager </div>
							
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								LoreLorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								LoreLorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-avatar">
							<img src="images/member10.jpg" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">John Doe</div>
							<div class="jag-designation"> - Manager </div>
						
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-avatar">
							<img src="images/member2.jpg" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">John Doe</div>
							<div class="jag-designation"> - Manager </div>
							
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Testimonials -->
    <!-- FAQ -->
    <div class="container margin-t-lg">
    <div class="row text-center">
        <div class="col-md-12">
            <h3 class="title">FAQ</h3>
        </div>
                <!-- /col -->
    </div>
	<div class="row">
    <div class="col-md-12">
			
			<div class="panel-group jag-faq-theme3 jag-faq-theme-pink" id="jag-theme-3">
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_1">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How to set random colors?
					</div>
					<div id="collapse3_1" class="panel-collapse collapse">
						<div class="panel-body">
						To set random colors: <br>
						1) Add <strong> jag-faq-random-colors </strong> class. <br>
						2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
						3) You can change color from here. <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_2">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How to use theme colors and add new theme color?
					</div>
					<div id="collapse3_2" class="panel-collapse collapse">
						<div class="panel-body">
						To add new theme color: <br>
						1) Open theme{num}.css, find "jag-faq-title". <br>
						2) Change background color or you can add your own class with new background <br>
						3) Add class to main div. <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_3">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How to change icon?
					</div>
					<div id="collapse3_3" class="panel-collapse collapse">
						<div class="panel-body">
						1) In html find <strong> <code>"jag-faq-icon fa fa-plus" </code></strong>. <br>
						2) Add the font awesome icon class name instead of <strong> fa-plus </strong> <br>
						3) Open <strong> jag-faq-custom.js </strong> <br>
						4) Find <strong> toggleIcon </strong> function from where you can add your both icon
						classes (open & close). Now its <code>"fa-plus fa-minus" </code>.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="container">
	<div class="row">
    <div class="col-md-12">
			
			<div class="panel-group jag-faq-theme3 jag-faq-theme-pink" id="jag-theme-3">
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_1">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How to set random colors?
					</div>
					<div id="collapse3_1" class="panel-collapse collapse">
						<div class="panel-body">
						To set random colors: <br>
						1) Add <strong> jag-faq-random-colors </strong> class. <br>
						2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
						3) You can change color from here. <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_2">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How to use theme colors and add new theme color?
					</div>
					<div id="collapse3_2" class="panel-collapse collapse">
						<div class="panel-body">
						To add new theme color: <br>
						1) Open theme{num}.css, find "jag-faq-title". <br>
						2) Change background color or you can add your own class with new background <br>
						3) Add class to main div. <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_3">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How to change icon?
					</div>
					<div id="collapse3_3" class="panel-collapse collapse">
						<div class="panel-body">
						1) In html find <strong> <code>"jag-faq-icon fa fa-plus" </code></strong>. <br>
						2) Add the font awesome icon class name instead of <strong> fa-plus </strong> <br>
						3) Open <strong> jag-faq-custom.js </strong> <br>
						4) Find <strong> toggleIcon </strong> function from where you can add your both icon
						classes (open & close). Now its <code>"fa-plus fa-minus" </code>.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="container">
	<div class="row">
    <div class="col-md-12">
			
			<div class="panel-group jag-faq-theme3 jag-faq-theme-pink" id="jag-theme-3">
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_1">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How to set random colors?
					</div>
					<div id="collapse3_1" class="panel-collapse collapse">
						<div class="panel-body">
						To set random colors: <br>
						1) Add <strong> jag-faq-random-colors </strong> class. <br>
						2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
						3) You can change color from here. <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_2">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How to use theme colors and add new theme color?
					</div>
					<div id="collapse3_2" class="panel-collapse collapse">
						<div class="panel-body">
						To add new theme color: <br>
						1) Open theme{num}.css, find "jag-faq-title". <br>
						2) Change background color or you can add your own class with new background <br>
						3) Add class to main div. <br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat.
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_3">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How to change icon?
					</div>
					<div id="collapse3_3" class="panel-collapse collapse">
						<div class="panel-body">
						1) In html find <strong> <code>"jag-faq-icon fa fa-plus" </code></strong>. <br>
						2) Add the font awesome icon class name instead of <strong> fa-plus </strong> <br>
						3) Open <strong> jag-faq-custom.js </strong> <br>
						4) Find <strong> toggleIcon </strong> function from where you can add your both icon
						classes (open & close). Now its <code>"fa-plus fa-minus" </code>.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- End FAQ -->
	<!-- *********  PRICING  ********* -->
	
    <div class="pricing-2">
        <div class="container margin-t-lg">
        <div class="row text-center">
            <div class="col-md-12">
                <h3 class="title">Pricing</h3>
            </div>
                <!-- /col -->
        </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">&nbsp;</h6>
                                <h1 class="block-caption">&nbsp;</h1>
                                <ul>
                                    <li>Hardware</li>
                                    <li>Memory</li>
                                    <li>Channel</li>
                                    <li>HDD</li>
                                    <li>Email</li>
                                    <li>Monitoring</li>
                                    <li>Support</li>
                                    <li>Operating System</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block block-pricing block-raised">
                            <div class="table table-info">
                                <h6 class="category">Basic</h6>
                                <h1 class="block-caption"><small>$</small>89</h1>
                                <ul>
                                    <li>Intel i5 2.7</li>
                                    <li>512Mb Ram</li>
                                    <li>10GB Storage</li>
                                    <li>5GB Bandwidth</li>
                                    <li>20 Email Addresses</li>
                                    <li>24/7</li>
                                    <li>24/7</li>
                                    <li>Linux, Windows</li>
                                </ul> <a href="#" class="btn btn-white btn-raise btn-round">Buy Now</a> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">Standart</h6>
                                <h1 class="block-caption"><small>$</small>189</h1>
                                <ul>
                                    <li>Intel i5 2.7</li>
                                    <li>512Mb Ram</li>
                                    <li>10GB Storage</li>
                                    <li>5GB Bandwidth</li>
                                    <li>20 Email Addresses</li>
                                    <li>24/7</li>
                                    <li>24/7</li>
                                    <li>Linux, Windows</li>
                                </ul> <a href="#" class="btn btn-info btn-round">Buy Now</a> </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>
    <!-- *********  END PRICING  ********* -->
    <!-- End CONTACT -->
    <!-- Footer -->
    <footer class="footer-a text-center">
        <!-- Footer-copyright -->
        <p>©2018 Design360. Developed by <a href="http://www.systemplus.com.pk/">System Plus</a></p>
    </footer>
    <!-- /Footer -->

</div>
<script type="text/javascript"> <!-- cross browser -->
    window.requestAnimationFrame||(window.requestAnimationFrame=function(){return window.webkitRequestAnimationFrame||window.mozRequestAnimationFrame||window.oRequestAnimationFrame||window.msRequestAnimationFrame||function(n){window.setTimeout(n,1e3/60)}}());
</script>

    