    <!-- Team -->
  <!-- tempraroy close this section 
  <section class="team" id="team"> 
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="title">Creative Team</h3>
                    <p class="slog">Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty</p>
                </div>
                <!-- /col -->
          <!--  </div>
            <!-- /row -->

           <!-- <div class="row text-center">
                <div class="col-sm-3">
                    <img src="team-1.jpg" alt="team-member" class="img-responsive">
                    <h4>John Smith</h4>
                    <h5>Founder</h5>
                    <p>Hey, I’m Johm Smith residing in this beautiful world. I create websites and mobile...</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- team-member -->

               <!-- <div class="col-sm-3">
                    <img src="team-2.jpg" alt="team-member" class="img-responsive">
                    <h4>Cristina Deo</h4>
                    <h5>Web Designer</h5>
                    <p>Hey, I’m Cristina Deo residing in this beautiful world. I create websites and mobile...</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- team-member -->

              <!--  <div class="col-sm-3">
                    <img src="team-3.jpg" alt="team-member" class="img-responsive">
                    <h4>Jonathan Deo</h4>
                    <h5>Manager</h5>
                    <p>Hey, I’m Jonathan Deo residing in this beautiful world. I create websites and mobile...</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- team-member -->

               <!-- <div class="col-sm-3">
                    <img src="team-4.jpg" alt="team-member" class="img-responsive">
                    <h4>Anton Kovalsky</h4>
                    <h5>Graphic Designer</h5>
                    <p>Hey, I’m Anton Kovalsky residing in this beautiful world. I create websites and mobile...</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- team-member -->
           <!-- </div>
            <!-- end row -->

          <!-- <div class="row margin-t-md">
                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-custom">We are Hiring</a>
                </div>
                <!-- /col -->
          <!--  </div>
            <!-- /row -->
       <!-- </div> 
        <!-- container -->
  <!-- </section>  -->
    <!-- /Team -->
    
    
        <!-- Skills -->
    <!--<section class="bg-dark">-->
    <!--    <div class="container">-->
    <!--        <div class="row text-center">-->
    <!--            <div class="col-sm-3">-->
    <!--                <div class="progress" data-dimension="160" data-text="77%" data-width="6" data-fontsize="28" data-percent="86" data-fgcolor="#666" data-bgcolor="#eee"></div>-->
    <!--                <h4><i class="fas fa-umbrella"></i>Creativity</h4>-->
    <!--            </div>-->
                <!-- skill -->

    <!--            <div class="col-sm-3">-->
    <!--                <div class="skill">-->
    <!--                    <div class="progress" class="skill-chart" data-dimension="160" data-text="86%" data-width="6" data-fontsize="28" data-percent="86" data-fgcolor="#666" data-bgcolor="#eee"></div>-->
    <!--                    <h4><i class="fas fa-cloud-download-alt"></i>Wordpress</h4>-->
    <!--                </div>-->
    <!--            </div>-->
                <!-- skill -->

    <!--            <div class="col-sm-3">-->
    <!--                <div class="skill">-->
    <!--                    <div class="progress" class="skill-chart" data-dimension="160" data-text="93%" data-width="6" data-fontsize="28" data-percent="93" data-fgcolor="#666" data-bgcolor="#eee"></div>-->
    <!--                    <h4><i class="fas fa-desktop"></i> Design</h4>-->
    <!--                </div>-->
    <!--            </div>-->
                <!-- skill -->

    <!--            <div class="col-sm-3">-->
    <!--                <div class="skill">-->
    <!--                    <div class="progress" class="skill-chart" data-dimension="160" data-text="81%" data-width="6" data-fontsize="28" data-percent="81" data-fgcolor="#666" data-bgcolor="#eee"></div>-->
    <!--                    <h4><i class="far fa-lightbulb"></i> Coding</h4>-->
    <!--                </div>-->
    <!--            </div>-->
                <!-- skill -->

    <!--        </div>-->
            <!-- end row -->
    <!--    </div>-->
        <!-- container -->
    <!--</section>-->
    <!-- / Skills -->

     <!--CONTACT -->

<div class="col-md-4">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">&nbsp;</h6>
                                <h1 class="block-caption features">Features</h1>
                                <ul>
                                    <li>Unlimited Graphic Design</li>
                                    <li>Unlimited Requests</li>
                                    <li>Unlimited Revisions</li>
                                    <li>Dedicated U.S. Project Manager</li>
                                    <li>Design Team Collaboration</li>
                                    <li>Next Day Project Delivery</li>
                                    <li>Projects at a time</li>
                                    <li>Source Files Included</li>
                                    <li>Unlimited Brands</li>
                                    <li>No Contract or Cancellation Fee</li>
                                </ul>
                                <a href="#" class="btn btn-rose" style="opacity:0; pointer-events:none; margin-top:30px; cursor:default;"></a>
                            </div>
                        </div>
                    </div>