
/* 1 Reset
----------------------------------------------------------------------------- */
.landing-page .h3,.landing-page h3 {
    font-size: 24px;
}
.landing-page .h4,.landing-page h4 {
    font-size: 18px;
}
.landing-page .h5,.landing-page h5,.landing-page p{
    font-size: 14px;
}
.landing-page {
  font-weight: 400;
  color: #535353;
  letter-spacing: 0.02em;
}
*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.landing-page :focus {
    outline: 0 !important
}
.landing-page iframe {
    border: none;
    width:100%;
}
.landing-page a {
    color: inherit;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.landing-page a:hover,.landing-page a:focus,.landing-page a:active {
    text-decoration: none;
    color: #4771fa;
}
.landing-page p {
    color: #737373;
    line-height: 23px;
}
.landing-page img {
    max-width: 100%;
}

.landing-page textarea {
    max-width: 100%;
    resize: none;
}
.landing-page hr {
	margin: 10px 0px;
}
.landing-page address {
	margin-bottom: 0px;
}
.landing-page .btn {
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
}
.landing-page .btn:focus,.landing-page .btn:active {
    outline: none;
    color: #ffffff;
}
.landing-page .btn-custom{
	border-radius: 3px;
	padding: 0.8em 1.8em;
	color: #fff;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
	text-transform: uppercase;
}
.landing-page .btn-custom:hover,.landing-page .btn-custom:focus{
    color: #fff;
}
.landing-page .btn-custom-outline {
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 0.8em 1.8em;
	color: #fff;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
	text-transform: uppercase;
	background-color: transparent;
	border-color: #ffffff;
}
.landing-page .btn-custom-outline:hover,.landing-page .btn-custom-outline:focus{
	color: #ffffff;
	background-color: rgba(255,255,255,.5);
}
.landing-page .btn-bar a{
	margin-right: 10px;
}
.landing-page .form-control {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 3px;
	height: 38px;
}
.landing-page .form-control:focus {
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.landing-page section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}
/* 2 Helper classes
----------------------------------------------------------------------------- */
.landing-page .margin-t-md {
	margin-top: 30px;
}
.landing-page .margin-b-md {
	margin-bottom: 30px;
}
.landing-page .title {
	font-weight: 700;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.landing-page .slog {
	max-width: 420px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.landing-page .bg-dark {
	background: #f4f4f4;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}



/* 5 Topbar / Navigation
----------------------------------------------------------------------------- */
/* -- Topbar -- */
.landing-page .tagline {
	background: #f6f6f6;
	font-size: 13px;
	color: #2d2e2e;
}
.landing-page .email,.landing-page .phone {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	padding: 11px 0;
	font-size: 15px;
}
.landing-page .tagline .pull-left i {
	display: inline-block;
	margin-right: 5px;
}
.landing-page .email a {
	transition: all 300ms;
	-webkit-transition: all 300ms;
}
.landing-page .email a:hover {
	color: #1dc6df;
}
.landing-page .top_socials {
    margin: 0 12px;
}
.landing-page .top_socials li {
	width: 30px;
	display: inline-block;
	vertical-align: top;
	margin-right: 0;
	padding: 0;
}
.landing-page .top_socials a {
	display: block;
	line-height: 40px;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	text-align: center;
	background-color: transparent;
	font-size: 16px;
	font-weight: 400;
}
/* -- Navbar -- */
.landing-page .navbar-custom {
	background-color: #ffffff;
	margin-bottom: 0px;
	width: 100%;
	z-index: 1000;
	border: none;
	color: #333;
	border-radius: 0px;
	position: relative;
	transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-moz-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-webkit-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-o-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
.landing-page .navbar-custom .navbar-brand {
	width:230px;
	font-size: 22px;
	text-transform: uppercase;
	color: #666;
	font-weight: 800;
	letter-spacing: 0.15em;
	margin: 0px 0 0;
}
.landing-page .navbar-custom .navbar-brand:hover {
	color: #888;
}
.landing-page .navbar-custom .nav {
	padding: 15px 0px;
}
.landing-page .navbar-custom .navbar-nav>li>a {
	color: #666;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.landing-page .navbar-custom .navbar-nav>.active>a, .landing-page .navbar-custom .navbar-nav>.active>a:hover, .landing-page .navbar-custom .navbar-nav>.active>a:focus,
.landing-page .navbar-custom .navbar-nav>.open>a, .landing-page .navbar-custom .navbar-nav>.open>a:hover, .landing-page .navbar-custom .navbar-nav>.open>a:focus,
.landing-page .navbar-custom .navbar-nav>li>a:hover, .landing-page .navbar-custom .navbar-nav>li>a:focus {
	background-color: transparent;
}

/* 6 Home
----------------------------------------------------------------------------- */
.landing-page #home {
	padding: 235px 0;
	z-index: 1;
	position: relative;
	font-size: 13px;
	color: #fff;
	background: #000;
	min-height: 400px;
}
.landing-page .home-bg{
	background-size: cover !important;
	z-index: -1;
	position: absolute;
	top: 0;
	opacity: 0.50;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img-1.jpg) no-repeat center;
}
@media only screen and (min-width:992px){
	.landing-page .home-bg{
	background-size: contain !important;}
}
.landing-page .margin-b-sm {
    margin-bottom: 5px;
}
.landing-page .intro-title {
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 48px;
	text-shadow: rgba(0,0,0,0.498039) 2px 2px 2px;
	letter-spacing: 0.02em;
	margin: 0px 0px 20px 0px;
}
.landing-page .intro-title span {
	margin-left: 5px;
}
.landing-page .intro-text {
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 30px;
}
.landing-page .typed-cursor {
	opacity: 1;
	-webkit-animation: blink .6s infinite;
	-moz-animation: blink .6s infinite;
	-ms-animation: blink .6s infinite;
	-o-animation: blink .6s infinite;
	animation: blink .6s infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

/* 7 About-us
----------------------------------------------------------------------------- */
.landing-page #about-us .features-box {
	overflow: hidden;
	clear: both;
	margin-bottom: 30px;
}
.landing-page .features-box i {
	font-size: 36px;
}
.landing-page .features-box .features-line {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.landing-page .features-box p{
	color: #9aa7af;
    line-height: 22px;
}
.landing-page .advanced-about {
	overflow: hidden;
	clear: both;
}
.landing-page .advanced-about ul li {
	margin: 5px 0px
}
.landing-page .advanced-about ul li i {
	margin-right: 10px;
}

/* 8 Fun-facts
----------------------------------------------------------------------------- */
.landing-page .fun-facts {
	overflow: hidden;
	color: #888;
}
.landing-page .facts{
	margin: 20px 0px;
}
.landing-page .facts i{
	font-size: 36px;
}


/* 9 Portfolio
----------------------------------------------------------------------------- */
/* image hover effect */
.landing-page .item-img-wrap{
	border: 1px solid lightgrey;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.landing-page .item-img-wrap img{
    -webkit-transition:all 200ms linear; 
    -moz-transition:all 200ms linear; 
    -o-transition:all 200ms linear; 
    -ms-transition:all 200ms linear; 
    transition:all 200ms linear; 
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.landing-page .item-img-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px 5px 0px 0px;
}
.landing-page .item-img-overlay span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 5px 5px 0px 0px;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}
.landing-page .item-img-wrap:hover .item-img-overlay span{
    opacity: 1;
}
.landing-page .item-img-wrap:hover img{
    -moz-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
}
.landing-page .work-desc{
    width: 100%;
    padding: 10px 20px;
    background: #f8f8f8;
    border: 1px solid #e3e3e3;
    border-top: none;
    -webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
    position: relative;
}
.landing-page .work-desc h3{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.landing-page .work-desc span {
	margin-top: 10px;
}
/* 10 inner (Info)
----------------------------------------------------------------------------- */
.landing-page #inner-section {
	background: url(../img-2.jpg) center;
	 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-page .intermediate-container .subheading h4 {
	color: #ffffff;
	font-style: italic;
}
.landing-page .intermediate-container .heading h2 {
	font-size: 40px;
	line-height: 47px;
	text-transform: uppercase;
	margin-top: 30px;
	color: #ffffff;
	margin-bottom: 20px;
	font-weight: 700;
}
/* 11 Team / Skills
----------------------------------------------------------------------------- */
.circliful {
    margin:auto;
    position: relative; 
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}
.progress{
	height:100%;
}
/* 12 Services
----------------------------------------------------------------------------- */
.landing-page .service-item i {
	color: #4771fa !important;
	float: left;
	font-size: 28px;
	line-height: 20px;
	width: 30px;
}
.landing-page .service-item .service-detail {
	margin-left: 50px;
}
.landing-page .service-item .service-detail h4 {
	color: #4771fa !important;
}

.landing-page .service-item .service-detail p {
	color: #9aa7af;
}

/* 13 Testimonials
----------------------------------------------------------------------------- */
.landing-page #testimonials {
	background: url(../img-2.jpg) center;
	 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-page .testi-slide {
	color: #f1f2f3;
}
.landing-page .testi-slide .img-user {
	width: 48px;
	height: 48px;
	border: 3px solid #ffffff;
}
.landing-page .testi-slide h5 {
	font-weight: 400;
	line-height: 24px;
}
.landing-page .owl-theme .owl-controls .owl-page span {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border:2px solid #ffffff;
	background: transparent;
}

/* 14 Partners
----------------------------------------------------------------------------- */
.landing-page .partners {
	margin: 0 15px 30px 15px;
	overflow: hidden;
}
.landing-page .partner {
	padding: 15px;
	text-align: center;
	-webkit-box-shadow: -1px -1px 0px 0px #ebeef0;
	-moz-box-shadow: -1px -1px 0px 0px #ebeef0;
	box-shadow: -1px -1px 0px 0px #ebeef0;
}
.landing-page .partner > img {
	max-width: 100%;
	max-height: 100%;
}

/* 15 Contact
----------------------------------------------------------------------------- */
.landing-page .form-main {
	padding-top: 30px;
}
.landing-page .error {
	margin: 8px 0px;
	display: none;
	color: red;
}
.landing-page #ajaxsuccess {
	font-size: 16px;
	width: 100%;
	display: none;
	clear: both;
	margin: 8px 0px;
}
.landing-page #contact .con_sub_text {
	margin-top: 20px;
}
.landing-page #contact textarea.form-control{
	height: 120px;
}
.landing-page #contact i {
	margin-bottom: 0px;
	font-size: 36px;
	line-height: 36px;
}
.landing-page #contact h4 {
	font-size: 22px;
	line-height: 28px;
	margin-bottom: 20px;
}
.landing-page #contact a.support {
	display: block;
	font-size: 30px;
}
.landing-page .info-contact {
	font-size: 16px;
}
/* 16 Footer
----------------------------------------------------------------------------- */
.landing-page .footer-a {
	background: #383838;
}
.landing-page .footer-a p{
	color:#fff;
	margin-bottom: 0px;
	padding:20px 0px;
}


/* 17 Back-to-top
----------------------------------------------------------------------------- */
.landing-page .back-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
    text-align: center;
    z-index: 10000;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.landing-page .back-to-top i {
    color: #fff;
    font-size: 15px;
    display: block;
    line-height: 33px;
}

/* 18 Responsive
----------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	.landing-page .navbar-custom {
		background-color: #fff;
	}
	.landing-page .navbar-custom .navbar-brand {
		color: #333 !important;
		padding: 13px 15px 20px 15px;
		margin-top: 10px;
		height: auto;
	}

	.landing-page .navbar-nav>li>a {
		color: #666 !important;
	}
	.landing-page .navbar-custom .navbar-toggle {
		margin-top: 15px;
	}
	.landing-page .intro-title,.landing-page .intermediate-container .heading h2{
		font-size: 30px;
	}
	.landing-page #home {
		padding: 200px 0px 120px;
	}
	.landing-page .features-box .col-sm-4{
		text-align: center !important;
	}
	.landing-page .advanced-about .col-sm-6:first-of-type,.landing-page .skill{
		margin-bottom: 30px;
	}
	.landing-page .facts {
		margin-bottom: 50px;
	}
}

.landing-page .btn-custom{
	background-color: #4771fa;
	border-color: #fff;
}
.landing-page .btn-custom:hover,.btn-custom:focus{
    background-color: #0039A2;
    border-color: #fff;
}
.landing-page .form-control:focus {
	border-color: #1dc6df;
}
.landing-page .navbar-custom .navbar-nav>.active>a,.landing-page .navbar-custom .navbar-nav>.active>a:hover,.landing-page .navbar-custom .navbar-nav>.active>a:focus,
.landing-page .navbar-custom .navbar-nav>.open>a,.landing-page .navbar-custom .navbar-nav>.open>a:hover,.landing-page .navbar-custom .navbar-nav>.open>a:focus,
.landing-page .navbar-custom .navbar-nav>li>a:hover,.landing-page .navbar-custom .navbar-nav>li>a:focus,
.landing-page .intro-title span,.landing-page .testi-slide p,.landing-page #ajaxsuccess,.landing-page #contact i,.landing-page #contact h4{
	color: #4771fa !important;
}
.landing-page .item-img-overlay span{
    background: url(../plus.png) no-repeat center center rgba(71, 113, 250, 0.7);
}
.landing-page .work-desc{
    border-bottom: 2px solid #4771fa;
}
.landing-page .back-to-top {
    background: #1dc6df;
}

.row-eq {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display:         flex !important;
}
.row-eq > [class*='col-'] {
	 display: flex !important;
	 flex-direction: column !important;
}