<div class="footer">
    <div class="pull-right">
        Developed by <a href="http://www.systemplus.com.pk/" target="_blank">System Plus</a>
    </div>
    <div>
        <strong>Copyright</strong> Design360 &copy; 2018
    </div>
</div>
</div>