<!--<nav class="navbar navbar-expand-sm">-->
  <!-- Brand/logo -->
<!--  <a class="navbar-brand" href="/"><img src="../design360-logo.png"></a>-->
  
  <!-- Links -->
<!--    <ul class="navbar-nav">-->
        <%# if user_signed_in? or employee_signed_in? %>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/dashboard">Dashboard</a>-->
<!--            </li>-->
        <%# end %>
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/#home">Home</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <ul class="navbar-nav ml-auto">-->
        <%# if user_signed_in? or employee_signed_in? %>
            <%# if current_user %>
<!--                <li class="nav-item">-->
<!--                    <p class="navbar-text">Signed in as <strong><%#= current_user.name %></strong>(<%#= current_user.email %>)
<!--                    </p>-->
<!--                </li>-->
<!--                <li class="navbar-item">-->
<!--                    <a class="nav-link" href="/users/edit">Edit Profile</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/users/sign_out" data-method="delete">Log Out</a>-->
<!--                </li>-->
            <%# end %>
            <%# if current_employee %>
<!--                <li class="nav-item">-->
<!--                    <p class="navbar-text">Signed in as <strong><%#= current_employee.email %></strong>
<!--                    </p>-->
<!--                </li>-->
<!--                <li class="navbar-item">-->
<!--                    <a class="nav-link" href="/employees/edit">Edit Profile</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/employees/sign_out" data-method="delete">Log Out</a>-->
<!--                </li>-->
            <%# end %>
        <%# else %>
            <!--<li class="nav-item">-->
            <!--    <a class="nav-link" href="/users/sign_in">Client Log In</a>-->
            <!--</li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/users/sign_in">Login</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/users/sign_up">Sign Up</a>-->
<!--            </li>-->
            <!--<li class="nav-item">-->
            <!--    <a class="nav-link" href="/employees/sign_in">Employee Log In</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--    <a class="nav-link" href="#" data-toggle="modal" data-target="#employeeModal">Employee Log In</a>-->
            <!--</li>-->
        <%# end %>
<!--    </ul>-->
<!--</nav>-->